################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CacheClient/Cache.Library/bin/Debug/net6.0
/CacheClient/Cache.Library/obj
/CacheService/.vs
/CacheService/bin/Debug/net6.0
/CacheService/cacheDir
/CacheService/obj
*.user
/CacheService/bin/Debug/net8.0
